*{
 margin:auto;
 font-family: 'Josefin Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}


header{
 background-image: url(../images/banner/banner1.png);
 margin: auto;
 width: 1600px;
 height: 808px;
}

.headertext{

 text-align: right;
 padding-top: 216px;
 padding-right: 230px;
}
.first-text{
 color: #151414;
 font-size: 65px;
 font-weight: 700;
}
.second-text{

 color: #444343;
 font-size: 16px;
 font-weight: 400;
 margin-top: 24px ;
}

.btn{

 width: 160px;
 height: 64px;
 background-color: #F15B22;
font-size: 20px ;
border-radius: 5px;
font-weight: 600;
margin-top: 53px;
border: none;

}